* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e7e8eb;
}

header {
    background-color: #02084b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 40px;
    margin-right: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 45px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;

}
.login {
    font-weight: bold;
}

.cadastro {
    background-color: #6b8fc3;
    padding: 8px 12px;
    border-radius: 5px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.cadastro-container {
    background-color: #2d2d70;
    padding: 30px;
    border-radius: 30px;
    color: white;
    text-align: center;
    width: 350px;
}

.cadastro-container h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    width: 100%;
    color: #3970c9;
}

.tipo-conta {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

button {
    background-color: #6b8fc3;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #5675a8;
}
